.sobre__info {
    color: rgb(255, 255, 255);
    font-size: 1.70rem;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 1rem;
 
}
@media screen and (max-width: 768px) {
    .sobre__info{
        margin-top: 0.5rem;
         padding: 0 0.5rem 0 0.5rem;
        font-size: 1.1rem;
        
    }
 }
 